<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <router-outlet></router-outlet>
  <!-- ============================================================== -->
  <!-- End Start Page Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
</div>
