<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                  <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink=""><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="nav-small-cap">CARDS</li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/cards"><i class="mdi mdi-cards-outline"></i><span class="hide-menu">All Cards</span></a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/cards/new"><i class="mdi mdi-plus-box-outline"></i><span class="hide-menu">Add Cards</span></a>
                </li>
                <li class="nav-small-cap">CARDS CATEGORY</li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/category"><i class="mdi mdi-group"></i><span class="hide-menu">All Categories</span></a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/category/new"><i class="mdi mdi-plus-box-outline"></i><span class="hide-menu">Add Categories</span></a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
    </div>
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
